 body{
        text-align: center;
        background-color: #212121;
        color: white;
    }
    .main{
        width: 100px;
        height: 100px;
        border: 2px solid white;
        display: inline-block;
        gap: 10px;
        cursor: pointer;
    }
    #blue{
        background-color: blue;
    }
    #red{
        background-color: red;
    }
    #green{
        background-color: green;
    }
    #black{
        background-color: black;
    }